In [3]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [5]:
df = pd.read_csv("Shark Tank India Dataset.csv")
df.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [12]:
df

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   episode_number         117 non-null    int64
 1   pitch_number           117 non-null    int64
 2   brand_name             117 non-null    object
 3   idea                   117 non-null    object
 4   deal                   117 non-null    int64
 5   pitcher_ask_amount     117 non-null    float64
 6   ask_equity             117 non-null    float64
 7   ask_valuation          117 non-null    float64
 8   deal_amount            117 non-null    float64
 9   deal_equity            117 non-null    float64
 10  deal_valuation         117 non-null    float64
 11  ashneer_present        117 non-null    int64
 12  anupam_present         117 non-null    int64
 13  aman_present           117 non-null    int64
 14  namita_present         117 non-null    int64
 15  vineeta_present        117 non-null    int64
 16  peyush_present         117 non-null    int64
 17  ghazal_present         117 non-null    int64
 18  ashneer_deal           117 non-null    int64
 19  anupam_deal            117 non-null    int64
 20  aman_deal              117 non-null    int64
 21  namita_deal            117 non-null    int64
 22  vineeta_deal           117 non-null    int64
 23  peyush_deal            117 non-null    int64
 24  ghazal_deal            117 non-null    int64
 25  total_sharks_invested  117 non-null    int64
 26  amount_per_shark       117 non-null    float64
 27  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(18), object(2)
memory usage: 25.7+ KB

# Data cleaning

In [7]:
df.isnull().sum()

episode_number           0
pitch_number             0
brand_name               0
idea                     0
deal                     0
pitcher_ask_amount       0
ask_equity               0
ask_valuation            0
deal_amount              0
deal_equity              0
deal_valuation           0
ashneer_present          0
anupam_present           0
aman_present             0
namita_present           0
vineeta_present          0
peyush_present           0
ghazal_present           0
ashneer_deal             0
anupam_deal              0
aman_deal                0
namita_deal              0
vineeta_deal             0
peyush_deal              0
ghazal_deal              0
total_sharks_invested    0
amount_per_shark         0
equity_per_shark         0
dtype: int64

In [8]:
df['deal_amount'].sum()

3742.00106

In [9]:
df['deal'].sum()

65

In [10]:
cleaned_df = df[df["brand_name"] != "Gopal's 56"]

In [11]:
df[df["brand_name"] == "Gopal's 56"]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
30,11,31,Gopal's 56,Fiber Ice Cream,0,30000.0,25.0,120000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [14]:
df[df["brand_name"] == "Woloo"]

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [15]:
cleaned_df.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [16]:
cleaned_df.to_csv("cleaned_st.csv", index=False)

# Machine Learning (predict Deal/No Deal)

In [17]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [18]:
x = cleaned_df[["pitcher_ask_amount", "ask_equity", "ask_valuation"]]
y = cleaned_df["deal"]

In [19]:
clf = RandomForestClassifier(max_depth=8, random_state=0)

In [20]:
reg = clf.fit(x,y)

In [21]:
reg.score(x,y)

0.7931034482758621

In [22]:
clf.predict_proba([[10, 2, 20000]])

array([[0.28310166, 0.71689834]])

# Saving the model

In [23]:
import pickle

In [24]:
pickle.dump(clf, open('model.pkl', 'wb'))